/* Reset CSS */
/* 
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
      url('../fonts/Raleway-Regular.woff') format('woff'),
      url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
      url('../fonts/Raleway-Bold.woff') format('woff'),
      url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Layout Notes */
/* Mobile: 375px - Desktop: 1440px */
/* These are just the design sizes. Ensure content is responsive and meet WCAG requirements by testing the full range of screen sizes from 320px to large screens. */

:root {
  /* Neutral */
  --blue-200: hsl(243, 100%, 93%);
  --blue-850: hsl(228, 56%, 26%);
  --blue-950: hsl(229, 57%, 11%);
  --grayish-blue: hsl(229, 7%, 55%);
  --white: #ffffff;
  --black: #000000;
  /* Gradient */
  --main-gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

/* General */

body {
  font-size: 14px;
  color: var(--white);
  font-family: 'Raleway Regular';
}

main {
  background-image: url('../images/bg-mobile.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-storage-wrapper {
  width: 85%;
}

.fylo-logo-and-icons-wrapper {
  border-radius: 10px 90px 10px 10px;
  background-color: var(--blue-850);
  max-width: 350px;
}

.fylo-logo-and-icons-wrapper .fylo-logo {
  padding: 35px 0 20px 35px;
}

.icon-wrapper {
  display: flex;
  padding: 10px 0 35px 35px;
}

.icon-wrapper .icon {
  padding: 10px;
  height: 20px;
  width: 28px;
  background-color: var(--blue-950);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.data-usage-wrapper {
  margin-top: 20px;
  background-color: var(--blue-850);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.usage-sentence {
  padding: 20px 0 20px;
}

.usage-sentence span {
  font-family: 'Raleway Bold';
}

.slide-bar-wrapper {
  margin: 0 10px 10px 10px;
  padding: 0 10px 10px 10px;
}

.input-wrapper {
  height: 19px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--blue-950);
  margin-bottom: 15px;
}

.slider {
  -webkit-appearance: none;
  width: 81.5%;
  height: 15px;
  margin-right: 18.5%;
  background: #d3d3d3;
  background: var(--main-gradient);
  border-radius: 10px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--white);
  cursor: default;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--white);
  cursor: default;
}

.data-range-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.remainder-wrapper {
  border: 1px solid white;
  width: 50%;
  margin: 0 auto;
  margin-top: -30px;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--white);
  color: var(--blue-950);
  font-family: 'Raleway Bold';
  display: flex;
  align-items: center;
  justify-content: center;
}

.remainder-wrapper p {
  font-size: 38px;
}

.remainder-wrapper .units-left {
  font-size: 12px;
  display: inline-block;
  padding-left: 5px;
  color: var(--grayish-blue);
}

.desktop-remainder-wrapper {
  display: none;
}

/* Desktop Design */
@media screen and (min-width: 950px) {

  main {
    background-image: url('../images/bg-desktop.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-color: var(--blue-950);
  }

  .data-storage-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fylo-logo-and-icons-wrapper {
    width: 320px;
  }

  .data-usage-wrapper {
    width: 50%;
    max-width: 500px;
    height: 120px;
    margin-top: 40px !important;
    margin-left: 20px;
    text-align: left !important;
  }

  .usage-sentence {
    padding-left: 20px;
  }

  .data-range-wrapper {
    padding-bottom: 0 !important;
  }

  .remainder-wrapper {
    display: none;
  }

  .data-usage-wrapper {
    position: relative;
  }

  .desktop-remainder-wrapper {
    border: 1px solid white;
    width: 28%;
    text-align: center;
    border-radius: 10px 10px 0 10px;
    padding: 10px 10px;
    background-color: var(--white);
    color: var(--blue-950);
    font-family: 'Raleway Bold';
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
    right: 32px;
  }

  .desktop-remainder-wrapper p {
    font-size: 34px !important;
  }

  .desktop-remainder-wrapper .units-left {
    font-size: 10px !important;
    display: inline-block;
    padding-left: 5px;
    color: var(--grayish-blue);
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-top: 15px solid var(--white);
    position: absolute;
    bottom: -15px;
    right: -1px;
  }
  
}